services:
  db:
    image: mysql:8.0
    container_name: laravel-template-db
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
  cache:
    image: redis:latest
    container_name: laravel-template-cache
    ports:
        - "6379:6379"
    volumes:
        - cache:/data
  app:
    container_name: laravel-template-app
    build:
      args:
        user: admin
        uid: 1000
      context: ./
      dockerfile: Dockerfile
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    depends_on:
      - db
      - cache
  nginx:
    container_name: laravel-template-www
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d/
    depends_on:
      - app
volumes:
    cache:
        driver: local
